@import 'style/global';

.input {
  border: 1px solid $c-silver;
  outline: none;
  font-size: 2rem;
  width: 40rem;
  height: 5rem;
  padding-left: 1rem;
  margin: 1rem;
  display: block;
  color: gray;
}
