@import 'style/global';

.button {
  background-color: $c-button;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 700;

  &:hover,
  &:focus-visible {
    filter: brightness(0.9);
  }

  &:active {
    transform: translateY(1px);
  }
}

.secondary {
  background-color: $c-button-secondary;
}
