//  Colors
//==========================================================================
$c-white: #fff;
$c-black: #000;

$c-text: #333333;
$c-background: #efefef;
$c-header-bg: rgb(235, 211, 0);
$c-footer-bg: #666;
$c-button: mediumseagreen;
$c-button-secondary: tomato;

// Sizes
//==========================================================================
$h-header: 40px;
$h-footer: 40px;

//  Break
//==========================================================================
$break-container: 1440px;
$break-sm: 480px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1280px;
$break-xxl: 1536px;

$break-text-area: 600px;
