//  Colors
//==========================================================================
$c-white: #fff;
$c-black: #000;

$c-text-b: #111;
$c-text-w: #d9d9d9;

$c-background: #efefef;
$c-header-bg: rgb(235, 211, 0);
$c-footer-bg: #666;
$c-button: mediumseagreen;
$c-button-secondary: tomato;

$c-sidebar: #11557a;

// FONT
//==========================================================================
$default-font-size: 1.6rem;

// Sizes
//==========================================================================
$h-header: 6rem; // 60px
$h-footer: 6rem; // 60px

//  Break
//==========================================================================
$break-container: 75em; // 1200px
